name: Deploy to pages

on:
  push:
    branches: "main"
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      outcome: ${{ steps.generator.outcome }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Python deps
        run: pip install -r requirements.txt
      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: excel-cache-${{ github.run_id }}
          restore-keys: |
            excel-cache-
          path: excel.xls

      - name: Run generator script
        id: generator
        run: python main.py
        continue-on-error: true

      - uses: actions/upload-pages-artifact@v3
        if: ${{ steps.generator.outcome == 'success' }}
        with:
          path: "build"
     

  deploy:
    needs: build
    if: ${{ needs.build.outputs.outcome == 'success' }}
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to pages
        id: deployment
        uses: actions/deploy-pages@v4
